@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

@font-face {
  font-family: Che;
  src: url(/templates/stylesheets/Che.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Che";
}

body::-webkit-scrollbar {
  display: none;
}

:root{
  --hauteur-menu: 60px;
}

.header {
  top: 0;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 96.2vw;
}

.icon {
  display: flex;
}

.icon img {
  object-fit: scale-down ;
  max-width: 20vw;
}

.header a {
  margin-left: 16px;
  margin-right: 16px;
}
.header input[type=text] {
  border: 3px solid black;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 1vw;
  width: 25vw;
  height: auto;
}

.sticky {
  display: flex ;
  position: fixed;
  top: 0;
  width: 96.2vw;
  background-color: #ffffff69;
} 
.head {
  display: flex;
  direction: row;
}
.head .Name {
  min-width: 80%;
  font-weight: bold;
}
.sticky + .content {
  padding-top: 102px;
}
.navi {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  height: 5vw;
  margin-right: 0;
}
.home {
  display: flex;
  max-width: 8vw;
}

.page {
  display: flex;
  max-width: 8vw;
  margin: 7px;
}
a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #171e52;
  overflow-x: hidden;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content:start;
  background-color: #3b4cca;
  border: 6px solid #ffde00;
  border-radius:4px;
  padding: 0 10px;
  margin: 20px;
  max-width: 17vw;
  font-size: 0.9em;
}
.copyright {
  margin-bottom: 0;
  font-size: 0.74vw;
  text-align: center; 
}
.Name {
  font-size: 1.1vw;
}
.text {
  font-size: 1.3vw;
}
#info {
  display: block;
}

#info .menu {
  display: flex;
  direction: row;
}


.artist img {
  max-width: 100%;
  border: 3.5px solid #ffde00;
  border-radius: 5px;
  margin-bottom: 3vh;
}

.content {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

#info h3 + h4 {
  margin-left: 10px;
}
.contentA {
  padding-top: 16px;
  display: block;
}

.artistA  {
  display: flex;
  direction: row;
  font-size: 1.5vw;
  margin-left: 10vw;
  color: #c1bebef2;
}

.artistA img {
  top: 0;
  height: 50vh;
  border:  5px solid #ffde00;
  border-radius: 10px;
  margin-right: 2vw;
}

@media screen and (max-width: 900px) {
  .artistA {
    display: flex;
    flex-direction: column;
    font-size: 6vw;
  }
    .artistA img {
  top: 0;
  width: 70vw;
  height: fit-content;
  border:  5px solid #ffde00;
  border-radius: 10px;
  margin-right: 2vw;
}
}


table {
  margin-left: 10px;
  padding: 10px;
}
table, td, th {
  border: 3px solid black;
  border-collapse: collapse;
}
td {
  max-width: 20vw;
}

#info > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

.groupe {
  display: flex;
  direction: row;
}

.groupe #test {
  margin-right: 5vw;
}

#info ul {
  list-style-type: none;
}
.locations {
  padding: 0 1vw;
}
#info > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}
.menu {
  margin-top: 0;
  padding-top: 0;
}
.sous-menu {
  display:none;
}

.menu-deroulant  h4:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover .sous-menu {
  display:block;
  background-color: #4e5cc39a ;
  border: 2px solid #ffde00;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > h4:after{
  animation: rotationFleche 0.2s linear forwards;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

.content_error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  color: #c1bebef2
} 
.error {
  font-size: 8vw;
}

.error_content {
  font-size: 5vw;
}
