<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="icon" href="/templates/stylesheets/img/index.png">
    <link rel="stylesheet" href="/templates/stylesheets/style.css">
</head>
<body>
    <div class="header" id="header">
        <a href="http://localhost:8080/home" class="icon"><img src="/templates/stylesheets/img/index.png" alt="Minecraft Disc">
            <h1>GROUPIE TRACKER</h1>
        </a>
        <div class="navi">
            <input type="text" name="search" id="search" placeholder="Search Here...">
            <a href="http://localhost:8080/home" class="home">Home</a>
        </div>
    </div>
    <div class="content">
        {{range .Artists}}
            <a href="http://localhost:8080/artist/{{.Id}}">
                <div class="artist">
                <img src={{.Image}} alt={{.Name}}>
                <p>
                    Name: {{.Name}} <br><br> Creation Date: {{.CreationDate}}
                </p>
                </div>
            </a>
        {{end}}
    </div>
    <script src="/templates/stylesheets/header.js"></script>
</body>
</html>